.wrap{
     width: 60%;
    margin: auto;
}
.type{
    display:         block;   
    width:           100%;
}
.card {
    font-size:         1.7em;
    height:            50px;
    position:          relative;
    padding:           3px;
    background:        #fff;
    width: 50px;
   
}
.redCard{
     color:             red;
}
.blackCard{
    color:             black;
}




.button {
    height:             40px;
    margin:             auto;
    cursor:             pointer;
    overflow:          hidden;
    text-align:        center;
    display:             inline-block;
/*    float:             left;*/
    margin-right:      10px;
    padding-top:       20px;
}
span {
    box-shadow:         1px 0px 4px 1px #ddd;
    padding:             6px;
    border-radius:     2px;
    border:1px solid #ccc;
}

.x {
    font-size:.4em;
    margin: -40px 0px 0px 0px;
    position:relative;
    left:7px;
    padding: 4px;
}
.xx {
    font-size:.4em;
    position:relative;
    left:-9px;
    margin: 8px 4px 4px 4px;
    padding:3px 3px 3px 4px;
}
